body
{
  background-color:#232323;
  }
#result
{
padding-bottom:25px;
}
[data-role=page]{
  height: 100% !important; 
  position:relative !important;
}
[data-role=footer]{bottom:0; 
  position:fixed !important;
  top: auto !important;
  width:100%;
}